html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 12px;
    background-color: #777777;
}

#content {
    background-color: #cccccc;
    margin-top: -12px;
    width: 500px;
}